<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jeonghoon Moon">
    <title>게시판 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/search-bar.css" rel="stylesheet">
</head>
<body>

    <header id="header"></header>
    <main class="container">
        <div class="mt-2">
            <form method="GET" name="searchInfo" action="">
                <div class="form-group row">
                    <div class="col-2">
                        총 검색 수 : <span>10</span>
                    </div>
                    <div class="col-2 text-right">
                        <label for="searchText" class="sr-only" hidden>검색항목</label>
                        <select id="searchText" class="form-select">
                            <option>제목</option>
                            <option>본문</option>
                            <option>아이디</option>
                            <option>닉네임</option>
                            <option>해시태그</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="search-value" hidden>검색어</label>
                        <input type="search" placeholder="검색어" class="form-control" id="search-value" name="search-value">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-sm btn-dark mb-2">검색</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>


        <table class="table">
            <thead>
                <th class="col-6">제목</th>
                <th class="col-2">해시태그</th>
                <th class="col">작성자</th>
                <th class="col">작성일</th>
            </thead>
            <tbody>
                <tr>
                    <td>첫글</td>
                    <td>#java</td>
                    <td>문정훈</td>
                    <td>2022-12-29</td>
                </tr>
                <tr>
                    <td>두번째글</td>
                    <td>#spring</td>
                    <td>홍길동</td>
                    <td>2022-12-29</td>
                </tr>
                <tr>
                    <td>세번째글</td>
                    <td>#java</td>
                    <td>문정훈</td>
                    <td>2022-12-29</td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </main>
    <footer id="footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>